.App {
  background-color: rgb(146, 93, 93);
  border-width: 1rem;
  padding: 0%;
  border-radius: 1rem;
  margin: 1rem;
  width: 50%;
  display: flex;
}
.App .Full {
  margin: 1rem;
  width: 45%;
  padding: 1rem;
}
